@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    list-style: none;
}
fc{
    float: left;
    position: absolute;
    top: 31px;
    left: 1160px;
    right: 0;
    bottom: 0;
}
tiw{
    float: left;
    position: absolute;
    top: 40px;
    left: 1225px;
    right: 0;
    bottom: 0;
}
insta{
    float: left;
    position: absolute;
    top: 31px;
    left: 1270px;
    right: 0;
    bottom: 0;
}

footer{
    flex: 0 0 auto;
}
footer p{
    display: inline-block;
    margin-top:20px;
    margin-left: 25%;
    width: 600px;
    height: 500px;
    color:#bdc3c7;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border-top: #bdc3c7;
    text-align: center;
    border-top: 1px solid #bdc3c7;
}
.menu{
    background-color: #000;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color:white;
    display: block;
    padding: 20px 41.5px 20px 41.5px;
    margin: 20px 3px;
}
ul{
    list-style: none;
    position:relative; 
    text-align: left;
}
li{
    float: left;
}
ul:after{
    clear: both;
}
ul:before,
ul:after{
    content: " ";
    display: table;
}

.submenu{
    font-size: 15px;
}
.menup{
    font-size: 25px;
}

ul.primaria li a{
      display: block;
      padding: 15px 25px;
}
ul.primaria li:last-child a{
      border-right: none;
}
ul.primaria li a:hover{
    color: #000;
}
ul.sub{
    position: absolute;
    z-index:200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 12%;
    display: none;
}
ul.sub li {
    float: none;
    margin: 0;
}
ul.sub li a{
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
}
ul.sub li:last-child a{
    border-bottom: none;
}
ul.sub li a:hover{
    color: #000;
    background: #eeeeee;
}
ul.primaria li:hover ul{
    display: block;
    background: #fff;
}
ul.primaria li:hover a{
    color: #000;
    text-shadow: none;
}
ul.primaria li:hover > a{
    color: rgb(66, 66, 66);
}
nav ul li .link{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.banner ul{
    display: flex;
    padding: 0;
    width: 500%;
    
    animation: cambio 15s infinite alternate linear;
    animation-timing-function: ease-in;
}
.banner li{
    width: 100%;
    list-style: none;
}
.banner img{
    width: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    18% {margin-left: 0;}

    23% {margin-left: -100%;}
    41% {margin-left: -100%;}

    46% {margin-left: -200%;}
    64% {margin-left: -200%;}

    69% {margin-left: -300%;}
    87% {margin-left: -300%;}

    92% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

.banner ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}
body{
    background-color:#000;
}
h2{
    margin: 30px 0 15px 12px;
    color:white;
    font-family: 'Roboto', sans-serif;
}
section{
    display: inline;

}
section li img{
    margin: 0 9px 10px 9px;
}


