@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    list-style: none;
}
fc{
    float: left;
    position: absolute;
    top: 31px;
    left: 1160px;
    right: 0;
    bottom: 0;
}
tiw{
    float: left;
    position: absolute;
    top: 40px;
    left: 1225px;
    right: 0;
    bottom: 0;
}
insta{
    float: left;
    position: absolute;
    top: 31px;
    left: 1270px;
    right: 0;
    bottom: 0;
}

footer{
    width: 100%;
    align-self: flex-end;
}
footer p{
    display: inline-block;
    margin-top:20px;
    margin-left: 25%;
    width: 600px;
    height: 50px;
    color:#bdc3c7;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border-top: #bdc3c7;
    text-align: center;
    border-top: 1px solid #bdc3c7;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color:white;
    display: block;
    padding: 20px 41.5px 20px 41.5px;
    margin: 20px 3px;
}
ul{
    list-style: none;
    position:relative; 
    text-align: left;
}
li{
    float: left;
}
ul:after{
    clear: both;
}
ul:before,
ul:after{
    content: " ";
    display: table;
}

.submenu{
    font-size: 15px;
}
.menup{
    font-size: 25px;
}

ul.primaria li a{
      display: block;
      padding: 15px 10px 10px 10px;
}
ul.primaria li:last-child a{
      border-right: none;
}
ul.primaria li a:hover{
    color: #000;
}
ul.sub{
    position: absolute;
    z-index:200;
    box-shadow: 4px 3px 0 rgb(0, 0, 0);
    width: 12%;
    display: none;
}
ul.sub li {
    float: none;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul.sub li a{
    color: #000;
}
ul.sub li:last-child a{
    border-bottom: none;
}

ul.primaria li:hover ul{
    display: block;
    background-color: #0652DD;
}
ul.primaria li:hover a{
    color: white;
    text-shadow: none;
}
ul.primaria li:hover  a{
    color: white;
}
nav ul li .link{
    padding: 0;
    margin: 0;
}
.active{
    background-color: #1B1464;
    box-sizing: border-box;
    border: 2px solid black;
}
.active2{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.banner ul{
    display: flex;
    padding: 0;
    width: 500%;
    
    animation: cambio 15s infinite alternate linear;
    animation-timing-function: ease-in;
}
.banner li{
    width: 100%;
    list-style: none;
}
.banner img{
    width: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    18% {margin-left: 0;}

    23% {margin-left: -100%;}
    41% {margin-left: -100%;}

    46% {margin-left: -200%;}
    64% {margin-left: -200%;}

    69% {margin-left: -300%;}
    87% {margin-left: -300%;}

    92% {margin-left: -400%;}
    100% {margin-left: -400%;}
}
body{
    background:url(../Assets/images/fondos/wallpapper.jpg) no-repeat fixed center center;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 10px;
    background: #2f3542;
}
body::-webkit-scrollbar-thumb{
    background: #f5f6fa;
    border-radius: 10px;
    border-right: 3px solid #f5f6fa;
}
h2{
    margin: 40px 0 25px 29px;
    color:white;
    font-family: 'Roboto', sans-serif;
}
section{
    display: inline;
}
section li img{
    transition: all 500ms;
    overflow: hidden;
}
body section li{
    float: left;
    overflow: hidden;
    margin: 0 15px 10px 28px;
}
section li:hover img:nth-child(1){
    transform: scale(1.2);
    transition: all 300ms;
    opacity: 0.8;
}
section li a {
    position: relative;
    display: block;
    width: 225px;
    height: 333px;
}
section li a img:nth-child(2){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: all 500ms;
    width: 70px;
}

section li:hover a img:nth-child(2){
    opacity: 1;
    transition: all 300ms;
}
.container{
    padding: 0 3vw;
    margin-right: auto;
    margin-left: auto;
}
.portada{
    width: 100%;
}
.todo{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 4vh 0;
    position: relative;
    z-index: 10;
}
.imagen{
    display: block;
    position: relative;
}
.contenido{
    width: 100%;
    padding: 0 30px;
    flex: 1;
    margin-bottom: 30px;
}
h1{
    width: 100%;
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
    margin-top: 0;
    text-overflow: ellipsis;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1;
}
.detalles{
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: block;
}
.year{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.duracion{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.categoria{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.edad{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.duracion:before{
content: "|";
    display: inline-block;
    margin: 0 8px;
}
.categoria:before{
    content: "|";
    display: inline-block;
    margin: 0 8px;
}
.edad:before{
    content: "|";
    display: inline-block;
    margin: 0 8px;
}
.descripcion{
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.botones{
    font-size: 1.8rem;
    align-items: flex-start;
    margin-top: 35px;
    display: flex;
}
.trailer{
    margin-left: 0;
    align-items: center;
    color: #fff;
    margin: 0 20px;
    padding: 0;
    font-size: 1em;
    font-family: latin-500,arabic-300,sans-serif;
    transition: color .2s ease-in-out;
}
.play{
    margin-left: 0;
    align-items: center;
    color: #fff;
    margin: 0 20px;
    padding: 0;
    font-size: 1em;
    font-family: latin-500,arabic-300,sans-serif;
    transition: color .2s ease-in-out;
}
.share{
    margin-left: 0;
    align-items: center;
    color: #fff;
    margin: 0 20px;
    padding: 0;
    font-size: 1em;
    font-family: latin-500,arabic-300,sans-serif;
    transition: color .2s ease-in-out;
}
.ancla{
    align-self: center;
    color: white;
    font-family: latin-500,arabic-300,sans-serif;
    font-size: 60px;
    margin-left: 25px;
}